<div class="container-fluid " style="background-color: #1b262c;">
  <div class="row ">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <h5 class="card-title" style="color: #bbe1fa;margin-top:10px">Gibberish Generator <i class="fas fa-gamepad"></i>
      </h5>
      <hr style="border:  solid #bbe1fa;">
      <form action="/" method="POST">
        <div class="d-flex">
          <div class="col-sm">
            <div id="engineer" class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
                alt="Card image cap">
              <div class="card-body">
                <p class="card-text">選我!!選我!!選我!!
                </p>
              </div>
              <div class="form-check" style="padding-left: 2rem;">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="engineer" checked
                  {{#setChecked gridRadios "engineer"}} {{/setChecked}}>
                <label class="form-check-label" for="gridRadios1">
                  工程師
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div id="designer" class="card" style="width: 15rem;">
              <img class="card-img-top"
                src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
                alt="Card image cap">
              <div class="card-body">
                <p class="card-text">選我!!選我!!選我!!
                </p>
              </div>
              <div class="form-check" style="padding-left: 2rem;">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="designer"
                  {{#setChecked gridRadios "designer"}} {{/setChecked}}>
                <label class="form-check-label" for="gridRadios2">
                  設計師
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div id="entrepreneur" class="card" style="width: 16rem;">
              <img class="card-img-top"
                src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
                alt="Card image cap">
              <div class="card-body">
                <p class="card-text">選我!!選我!!選我!!
                </p>
              </div>
              <div class="form-check" style="padding-left: 2rem;">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="entrepreneur"
                  {{#setChecked gridRadios "entrepreneur"}} {{/setChecked}}>
                <label class="form-check-label" for="gridRadios3">
                  創業家
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <button class="btn btn-success" style="margin: 20px 20px; background-color: #2bb2bb; border: 0px;"
            type="submit">產生幹話</button>
          {{#if gridRadios}}
          <div class="alert alert-dark" role="alert" style="margin: 20px 0px;background-color: #bbe1fa;">
            <span class="mr-0"></span> <strong><code>{{gibberish}}  </code></strong>
          </div>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
      <a href=""> Gibberish Generator</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>